.Auth {
  width: var(--Width);
  background-color: rgba(245, 245, 245, 0.837);
}

.auth-wrapper {
  min-height: 100vh;
  max-width: var(--normalWidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: var(--width);
  justify-content: flex-start;
  padding: 0 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.auth-logobox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 3rem;
}

.auth-logobox img {
  width: 5rem;
}

.auth-wrapper body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.auth-wrapper form {
  width: 100%;
  margin: 0 auto;
}

.auth-wrapper h1 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(118, 118, 118);
  font-family: 'Noto Sans CJK KR';
  font-weight: 1000;
}

.auth-wrapper .form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.auth-wrapper p {
  color: var(--activeColor);
}

.auth-wrapper p::before {
  display: inline;
  content: '⚠ ';
}

.auth-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.75rem;
  border: 1.5px solid #707070;
  padding: 1rem 1rem;
  margin-top: 0.85rem;
  margin-bottom: 0.25rem;
  font-size: 14px;
  background-color: transparent;
}

.auth-wrapper input::placeholder {
  font-family: 'Noto Sans CJK KR';
}

.auth-wrapper label {
  line-height: 2;
  margin-top: 0.85rem;
  margin-left: 0.25rem;
  text-align: left;
  display: block;

  font-size: 14px;
  font-weight: 200;
}

.auth-wrapper button[type='submit'],
input[type='submit'] {
  width: 100%;
  background: #000;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  border-radius: 2rem;
}

.auth-wrapper button[type='submit']:hover,
input[type='submit']:hover {
  background: var(--activeColor);
}

.auth-wrapper button[type='submit']:active,
input[type='button']:active,
input[type='submit']:active {
  transition: 0.15s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.auth-wrapper input:disabled {
  opacity: 0.4;
}

.auth-wrapper input[type='button']:hover {
  transition: 0.3s all;
}

.auth-wrapper button[type='submit'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
}

.auth-wrapper button[type='button'] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.auth-wrapper hr {
  margin-top: 15px;
}

.auth-wrapper button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.agreement {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 0.5rem;
  font-size: 0.95rem;
}

.agreement-inputbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
  white-space: nowrap;
}

.agreement-inputbox-itemwrapper {
  width: 80%;
  height: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
label.form-check-label {
  margin: 0;
}
input#checkbox-input {
  width: 1.8rem;
  margin: 0;
}
input[type='checkbox'] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.Usage-Modal {
  position: absolute;
  width: var(--normalWidth);
  max-height: 85vh;
  padding: 1rem;
  margin: 0 1rem;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 20;
  top: 150px;

  transition: opacity 0.1s ease, transform 0.1s ease, visibility 0.1s;
  visibility: hidden;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 3px 12px rgba(41, 41, 41, 0.5);
}

.Usage-Modal.active {
  word-break: keep-all;
  opacity: 1;
  visibility: visible;
}

.Modal-Header {
  display: flex;
  width: 90%;
  padding: 1rem 0;
  justify-content: space-between;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.Modal-Body {
  overflow-y: scroll;
  margin: 1rem 0;
}

.modal-closeButton {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
