.navigation {
  max-width: 640px;
  margin: 0 auto;
  padding: 1.25rem 1rem;
}
.navigation__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 0.8rem;
}

@media screen and (min-width: 480px) {
  .navigation__wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 600px) {
  .navigation__wrap {
    grid-template-columns: repeat(5, 1fr);
  }
}

.navigation__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: rgba(236, 236, 236, 0.938) 1px solid;
  border-radius: 1rem;
  padding: 0.5rem 0;
}

.navigation__btn__imageContainer {
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* border: rgba(236, 236, 236, 0.938) 0.1px solid; */
  margin-bottom: 0.15rem;
}
.navigation__btn__imageContainer img {
  padding: 0.5rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.navigation__btn__textContainer {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
