@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* s */

a {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-decoration: none;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold;
  color: #111;
  line-height: 1.25;
  letter-spacing: -1px;
  word-break: keep-all;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

/* 
============
header 
============
*/

header {
  margin: 2.5rem auto 0;
}
.headercontainer {
  max-width: 30.8rem;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.9rem;
}

.logo {
  cursor: pointer;
  width: 160px;
}

.space_holder {
  width: 80px;
}

.searchContainer {
  display: inline-flex;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  background-color: #f8f8f8;
}

.searchIcon {
  padding: 0.5rem;
  background-color: #f8f8f8;
}

.searchBox {
  width: 100%;
  border: 0;
  padding: 1rem;
  background-color: #f8f8f8;
  text-decoration: none;
}

/* 
Nav Categories
*/
nav {
  display: block;
}

.category_container {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 1.2rem 0 1rem;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 700;
}
.category_wrap {
  max-width: 30.8rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1.9rem;
}

.HomeQuickCategoryItem {
  color: inherit;
  text-decoration: none;
  color: #1a1a1a;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 1.3rem;
  min-width: 5.8rem;
}
.HomeQuickCategoryItem img {
  width: 3rem;
  height: 3rem;
  z-index: 20;
  position: relative;
}

.HomeQuickCategoryItem p {
  margin-top: 0.1rem;
  margin-bottom: 0;
  font-weight: 450;
  font-size: 0.9rem;
}

/* 
===========
TAGS
===========
 */

.tags_container {
  display: block;
  max-width: 30.8rem;
  margin: 0 auto;
  overflow-x: scroll;
  box-sizing: border-box;
}

.tags_swipewrapper::-webkit-scrollbar {
  display: none !important;
}

.tags_swipewrapper {
  display: block;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: auto;
}

.tag {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  border: 0.5px solid rgb(204, 204, 204);
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 0.25rem;
  text-decoration: none;
  color: #707070;
}

/* 
========
NEWS
========
 */
.news {
  background-color: #f2f2f2;
}
.news_container {
  display: flex;
  max-width: 30.8rem;
  margin: 0.75rem auto;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 14px;
}

.news_header {
  cursor: pointer;
  margin-left: 5px;
}

.news_title {
  cursor: pointer;
}
.news_more {
  cursor: pointer;
}

/* 
========
Card Size Big1 Swiper
========
 */

.seciton_wrapper {
  max-width: 30.8rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.section_desc {
  font-size: 17px;
  font-weight: 300px;
  color: #707070;
}

.cards_swipewrapper {
  display: block;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 10px;
}

.card_l1 {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
}

.card_title_l1 h3 {
  font-size: 28px;
}

.card_l1 img {
  width: 280px;
  height: auto;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}

.sideinfo_location span {
  margin-top: 0;
  color: rgb(204, 204, 204);
}

.card_l1 p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 325;
}

/* 
========
Card Size Big1 Swiper
========
 */

.card span {
  font-size: 12px;
  color: rgb(204, 204, 204);
}

.band {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-top: 5px;
}

.card {
  background-color: #fff;
  text-decoration: none;
  color: #444;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0;
  transition: 0.2s;
}

.card:hover {
  top: -2px;
}

.card h1 {
  font-size: 25px;
}
.thumb {
  padding-bottom: 120%;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}

article {
  margin-top: 5px;
  flex-direction: column;
  justify-content: space-between;
}

article p {
  flex: 1;
  color: #707070;
  margin-top: 5px;
}

@media screen and (min-width: 350px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 850px) {
  .band {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 
==============
NEW STORES
==============
*/
.new_stores {
  background-color: black;
}

.new_stores h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: #fff !important;
}

.new_stores .section_desc {
  font-size: 17px;
  font-weight: 300px;
  color: #f8f8f8;
}

.section_wrapper {
  max-width: 30.8rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.band_new {
  display: block;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 2rem;
}

.item_new {
  display: inline-block;
  cursor: pointer;
  width: 350px;
  height: 450px;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  margin-right: 15px;
}

/* 이부분 해결해야함  */
.item_new:hover .article {
  z-index: 9999;
  opacity: 1;
  transition: 10s;
}
.article {
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-top: 280px;
  margin-right: 20px;
  margin-left: 50px;
  white-space: normal !important;
  color: #fff !important;
}

.item_new h1 {
  margin-top: 5px;
  font-size: 35px;
  color: #fff;
}

.item_new p {
  margin: 0;
  font-size: 18px;
  font-weight: 500px !important;
  color: #fff;
}

/* 
=========
footer
=========
 */
