.Section__Header {
  display: flex;
  width: var(--normalWidth);
  margin: 0 auto;
  justify-content: space-between;
}

.Section__Title {
  font-size: 1.35rem;
  font-weight: 900;
  letter-spacing: -0.035rem;
  color: #333;
}

.Section__More {
  display: flex;
  align-items: center;
}
