.Section__Header {
  display: flex;
  width: var(--normalWidth);
  margin: 0 auto;
  justify-content: space-between;
}

.Section__Title {
  font-family: 'CookieRun-Regular';
  font-size: 1.3rem;
  letter-spacing: -0.05rem;
  color: #161616;
}

.Section__More {
  display: flex;
  align-items: center;
}
