.grid {
  display: grid;
  white-space: wrap;
  max-width: var(--maxWidth);
  margin: 1rem 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
}

@media screen and (min-width: 430px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
  }
}
