.grid {
  margin: 0 auto;
  padding: 0 1rem;
  width: var(--maxWidth);
  max-width: var(--maxwidth);
}

.grid__wrapper {
  display: grid;
  white-space: wrap;
  max-width: var(--maxWidth);
  margin: 1rem 0 auto;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
}

.grid__wrapper2 {
  display: grid;
  white-space: wrap;
  max-width: var(--maxWidth);
  margin: 1rem 0 auto;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
}

@media screen and (min-width: 430px) {
  .grid__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
  }
}
