.gridCard {
  display: grid;
  white-space: wrap;
  grid-template-columns: 1fr;
  text-align: start;
  border-radius: 15px;
}

.gridCard__imageContainer {
  width: 100%;
  height: 10rem;
  margin-bottom: 0.35rem;
}

.gridCard__imageContainer img {
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

.storeName h3 {
  color: black;
  font-weight: 400;
  word-break: break-all;
}

.tags {
  font-size: 0.95rem;
  font-weight: 325;
}

.storeName {
  display: flex;
  color: #dc0f62;
}

.quickInfos {
  display: flex;
  flex-direction: column;
  font-size: 1.05em;
}

.quickInfos__location {
  display: flex;
}
.quickInfos__location p {
  margin-left: 0.25rem;
}

.quickInfos__businessHours {
  display: flex;
  align-items: center;
}
