.detailsPage {
  max-width: var(--normalWidth);
  margin: 0 auto;
}

.mainInfo h2 {
  margin-bottom: 0.5rem;
}

.mainInfo p {
  margin-bottom: 0.5rem;
}

.location__btn {
  text-decoration: underline;
}
