.detailsPage {
  max-width: var(--normalWidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mainInfo h2 {
  margin-bottom: 0.5rem;
}

.mainInfo p {
  margin-bottom: 0.5rem;
}

.location__btn {
  text-decoration: underline;
}

hr {
  background-color: D3D3D3;
  height: 0.1px;
}

.swiper-container.mySwiper {
  display: flex;
  height: auto;
}
.mySwiper .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a3a3a3;
  bottom: 0;
  padding: 0 1rem;
}
.mySwiper .swiper-pagination-bullet {
  border-radius: 0;
  width: 60%;
  height: 3rem;
  text-align: center;
  line-height: 3.1rem;
  font-size: 1rem;
  color: #000;
  opacity: 0.8;
  background: transparent;
  margin: 0 0.5rem !important;
}
.mySwiper .swiper-pagination-bullet-active {
  font-weight: 500;
  opacity: 1;
}

.mySwiper .swiper-slide {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}
