.CategoryGrid {
  margin-top: calc(9rem + 47px);
  margin-bottom: calc(9rem + 47px);
  display: flex;
  flex-direction: column;
}

.CategorySwiper {
  min-height: 50vh;
  margin-top: 12rem;
  margin-bottom: 7.5rem;
}

.notice {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
  font-size: 0.9rem;
}

.grid__wrapper {
  margin-top: 0.5rem;
}
.swiper-container.CategorySwiper {
  display: flex;
  flex-direction: column;
  min-height: 50rem;
}

.SecondCategory__container {
  width: var(--maxWidth);
  margin: 0 auto;
  margin-top: 0.15rem;
}
.SecondCategory {
  display: block;
  overflow-x: scroll;
  margin: 0.2rem;
}

.SecondCategory__container::-webkit-scrollbar {
  display: none !important;
}

.SecondCategory__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0.2rem 0;
}

.SecondCategory-Wrapper,
.CategorySwiper .swiper-pagination {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  bottom: 0;
  padding: 0.85rem 0;
}

.SecondCategory-Item,
.CategorySwiper .swiper-pagination-bullet {
  display: flex;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 1.5rem;
  border: 0.5px solid rgba(236, 236, 236, 0.938);
  padding: 0.6rem 1rem;
  background-color: white;
  text-align: center;
  font-size: 1.25rem;
  opacity: 1;
  margin: 0 0 0 0.6rem !important;
  font-family: 'Noto Sans';
}
.SecondCategory-Item.Active,
.CategorySwiper .swiper-pagination-bullet-active {
  background-color: var(--activeColor);
  border: 0.5px solid var(--activeColor);
  color: white;
  font-weight: 400;
  opacity: 1;
}
