.CategoryTitle__wrapper {
  margin: 0 auto;
  margin-top: 1rem;
  width: var(--maxWidth);
}

.categoryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.categoryTitle img {
  margin-right: 0.3rem;
  width: 2rem;
}
.categoryTitle button {
  width: 3rem;
}

.backward {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.backward img {
  width: 1.2rem;
  height: auto;
}

.categoryTitle h3 {
  font-weight: 400;
  /* font-size: 1.5rem; */
}

.place_holder {
  width: 3rem;
}

.SecondCategory__container {
}
