.CategoryTitle__wrapper {
  padding: 0 1.2rem;
  margin: 0 auto;
  margin-top: 1rem;
  width: var(--maxWidth);
}

.categoryTitle {
  display: flex;
  align-items: flex-end;
}

.categoryTitle img {
  margin-right: 0.25rem;
  width: 2.5rem;
}
