.RecommendPage {
  display: flex;
  height: 45vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Recommend--ArticleBox {
  display: flex;
  height: 17vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Recommend--ArticleBox img {
  width: 50px;
}
.Recommend--ArticleBox p {
  text-align: center;
  font-size: 1.1rem;
}
