@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
  font-size: 13px;
}
:root {
  --smallWidth: 85vw;
  --normalWidth: 28.8rem;
  --maxWidth: 100vw;
  --fullWidth: 28.8rem;
}

@media screen and (min-width: 400px) {
  :root {
    --smallWidth: 85vw;
    --normalWidth: 28.8rem;
    --maxWidth: 100vw;
    --fullWidth: 1170px;
  }
}
@media screen and (min-width: 760px) {
  :root {
    --smallWidth: 85vw;
    --normalWidth: 28.8rem;
    --maxWidth: 95vw;
    --fullWidth: 1170px;
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --smallWidth: 85vw;
    --normalWidth: 28.8rem;
    --maxWidth: 60vw;
    --fullWidth: 1170px;
  }
}

* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
}

/* s */
::-webkit-scrollbar {
  display: none;
}

a {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

body {
  margin: 1.5rem auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  font-weight: 350;
  color: #222;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold;
  color: #111;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  word-break: keep-all;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

input:focus {
  outline: none;
}

/* 
=========
Section Header
=========
*/

.section {
  max-width: 60.8rem !important;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 80px;
}

.section__header__container {
  max-width: 60.8rem !important;
  margin: 0 auto;
  align-items: center;
  padding: 0 80px;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin: 0;
}

.section__desc {
  font-size: 17px;
  font-weight: 300px;
  color: #707070;
}

/* 
=========
footer
=========
 */
.footer {
  text-align: center;
}

hr {
  margin-top: 0;
}
