/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* s */
::-webkit-scrollbar {
  display: none;
}

a {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-decoration: none;
}
body {
  margin: 0;
  padding-top: 75px;
}
p {
  clear: both;
  color: #111;
  line-height: 1.25;
  letter-spacing: -1px;
  word-break: keep-all;
  margin-bottom: 0;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold;
  color: #111;
  line-height: 1.25;
  letter-spacing: -1px;
  word-break: keep-all;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

/* 
============
header 
============
*/

header {
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}

.header {
  max-width: 30.8rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.header__logo {
  text-align: center !important;
}

.logo {
  cursor: pointer;
  width: 160px;
}

.header__search {
  display: inline-flex;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  background-color: #f8f8f8;
}

.header__search__box {
  width: 100%;
  border: 0;
  padding: 1rem;
  background-color: #f8f8f8;
  text-decoration: none;
}

.header__search__icon {
  padding: 0.5rem;
  background-color: #f8f8f8;
}

/* 
Nav Categories
*/

/* 
==============
Card-Layout: Swiper
==============
*/

.cards__swiper__new {
  display: block;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 1rem;
}

/* 
New Stores Design
 */
.new {
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  margin-right: 15px;
}

.new h1 {
  margin-top: 5px;
  font-size: 35px;
  color: #fff;
}

.new p {
  margin: 0;
  font-size: 18px;
  font-weight: 500px !important;
  color: #fff;
}

.article {
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin: 330px 20px 30px 80px;
  white-space: normal !important;
  color: #fff !important;
}
/* 
Hot Stores design
 */

.hot {
  margin-right: 15px;
}

.hot img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}
.hot p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 325;
}

/* 
Card-Layout: Grid
*/

.cards__grid__food,
.cards__grid__cafe {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-top: 1rem;
}

.cards__grid__card {
  background-color: #fff;
  text-decoration: none;
  color: #444;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0;
  transition: 0.2s;
}

.cards__grid__card:hover {
  top: -2px;
}

@media screen and (min-width: 350px) {
  .cards__grid__food,
  .cards__grid__cafe {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 850px) {
  .cards__grid__food,
  .cards__grid__cafe {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* RESTAURANT RECOMMENDATION */
.thumb16 {
  padding-bottom: 120%;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  margin-bottom: 5px;
}

.cards__grid__card p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 325;
}

/* 
=========
footer
=========
 */
footer {
  text-align: center;
}

hr {
  margin-top: 0;
}

/*stores*/

/* 
=========
Section Header
=========
*/

.section {
  max-width: 60.8rem !important;
  margin: 10 auto;
  margin-bottom: 3rem;
  padding: 0 80px;
}

.section__header__container {
  align-items: center;
}

.section__header,
.name,
.title,
.location,
.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin-top: 10px;
}
.section__header__category {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin: 0;
}

.section__desc {
  font-size: 17px;
  font-weight: 300px;
  color: #707070;
  margin-top: 30px;
}
.intro-detail {
  margin-top: 5px;
}
/* 
===========
stores tags
===========
*/

.StoreTag {
  display: block;
  max-width: 25.8rem;
  margin: 15px auto;
  overflow-x: scroll;
}

.StoreTag__container::-webkit-scrollbar {
  display: none !important;
}

.StoreTag__container {
  display: block;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: auto;
}

.StoreTag__item {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  border: 0.5px solid rgb(204, 204, 204);
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 0.25rem;
  text-decoration: none;
  color: #707070;
}

/* 
=============
stores: swiper 
=============
*/
/* .section__swiper {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin: 0;
} */

.btn {
  position: absolute;
  color: #ffffff;
  font-size: 60px;
  z-index: 2;
}

.btn-left {
  width: 40px;
  position: relative;
  cursor: pointer;
  left: 10px;
  top: 290px;
}
.btn-right {
  width: 40px;
  position: relative;
  cursor: pointer;
  left: 640px;
  top: 290px;
}
.wrap {
  position: relative;
}
.carousel-box {
  z-index: 0;
  opacity: 0;
  /* position: absolute; */
}
.storesImages {
  display: block;
  width: 100%;
}
.contents-box {
  display: block;
  width: 768px;
  margin: 30px auto 0 auto;
}
.contents-img {
  width: 720px;
  border-radius: 15px;
}
.btn {
  width: 788px;
  font-size: 2em;
}
.active {
  opacity: 1;
  z-index: 1;
  transform: none;
  /* border: 10px solid rgb(255, 255, 255); */
}

.generic-wrap {
  position: absolute;
  width: 768px;
  text-align: center;
  z-index: 999;
}
.generic {
  position: relative;
  margin: 0 auto;
  top: 560px;
}
.box {
  display: inline-block;
  margin: 0 1px;
  width: 5px;
  height: 5px;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 100%;
}
.now {
  background: rgb(20, 20, 20);
}

/* @media (min-width: 576px) {
  .storesImages {
    display: block;
    width: 100%;
  }
  .contents-box {
    display: block;
    width: 576px;
    margin: 30px auto 0 auto;
  }
  .generic-wrap {
    width: 576px;
  }
  .generic {
    top: 405px;
  }
  .box {
    width: 7px;
    height: 7px;
  }
  .contents-img {
    width: 520px;
  }
  .btn {
    width: 580px;
    font-size: 2em;
  }
  .btn-left {
    width: 35px;
    left: 10px;
    top: 220px;
  }
  .btn-right {
    width: 35px;
    left: 450px;
    top: 220px;
  }
  .active {
    opacity: 1;
    z-index: 1;
    transform: none;
    border: 10px solid rgb(255, 255, 255);
  }
  .bottom1 {
    width: 70px;
    cursor: pointer;
    top: 30px;
    left: 430px;
  }
  .bottom2 {
    width: 70px;
    cursor: pointer;
    top: 360px;
    left: -50px;
  }
}
@media (min-width: 768px) {
  .storesImages {
    display: block;
    width: 100%;
  }
  .contents-box {
    display: block;
    width: 768px;
    margin: 30px auto 0 auto;
  }
  .generic-wrap {
    width: 768px;
  }
  .generic {
    top: 560px;
  }
  .box {
    width: 7px;
    height: 7px;
  }
  .contents-img {
    width: 720px;
  }
  .btn {
    width: 788px;
    font-size: 3em;
  }
  .btn-left {
    width: 40px;
    left: 10px;
    top: 290px;
  }
  .btn-right {
    width: 40px;
    left: 640px;
    top: 290px;
  }
  .active {
    opacity: 1;
    z-index: 1;
    transform: none;
    border: 10px solid rgb(255, 255, 255);
  }
  .bottom1 {
    width: 90px;
    cursor: pointer;
    top: 35px;
    left: 600px;
  }
  .bottom2 {
    width: 90px;
    cursor: pointer;
    top: 490px;
    left: -65px;
  }
} */
/* @media (min-width: 1024px) {
  .storesImages {
    display: block;
    width: 100%;
  }
  .contents-box {
    display: block;
    width: 1024px;
    margin: 30px auto 0 auto;
  }
  .generic-wrap {
    width: 1024px;
  }
  .generic {
    top: 775px;
  }
  .box {
    width: 10px;
    height: 10px;
  }
  .contents-img {
    width: 980px;
  }
  .btn {
    width: 1050px;
    font-size: 4em;
  }
  .btn-left {
    width: 50px;
    left: 10px;
    top: 400px;
  }
  .btn-right {
    width: 50px;
    left: 870px;
    top: 400px;
  }
  .active {
    opacity: 1;
    z-index: 1;
    transform: none;
    border: 10px solid rgba(127, 47, 214, 0.2);
  }
  .bottom1 {
    width: 130px;
    cursor: pointer;
    top: 45px;
    left: 830px;
  }
  .bottom2 {
    width: 130px;
    cursor: pointer;
    top: 670px;
    left: -90px;
  }
}
@media (min-width: 1280px) {
  .storesImages {
    display: block;
    width: 100%;
  }
  .contents-box {
    display: block;
    width: 1280px;
    margin: 20px auto 0 auto;
  }
  .generic-wrap {
    width: 1280px;
  }
  .generic {
    top: 980px;
  }
  .box {
    width: 12px;
    height: 12px;
  }
  .contents-img {
    width: 1240px;
  }
  .btn {
    width: 1280px;
    font-size: 4em;
  }
  .btn2 {
    width: 1280px;
  }
  .btn-left {
    width: 55px;
    left: 15px;
    top: 530px;
  }
  .btn-right {
    width: 55px;
    left: 1120px;
    top: 530px;
  }
  .active {
    opacity: 1;
    z-index: 1;
    transform: none;
    border: 10px solid rgba(127, 47, 214, 0.2);
  }
  .bottom1 {
    width: 150px;
    cursor: pointer;
    top: 55px;
    left: 1070px;
  }
  .bottom2 {
    width: 150px;
    cursor: pointer;
    top: 850px;
    left: -100px;
  }
} */ */
