::-webkit-scrollbar {
  display: none;
}
.SlideWrapper {
  max-width: var(--normalWidth);
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  overflow-x: auto;
}
