.card {
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 15px;
}
.card img {
  object-fit: cover;
  border-radius: 12px;
  max-width: 191%;
  height: 255px;
  margin-bottom: 0.3rem;
}
.card span {
  font-weight: 325;
  padding: 0.2rem 0;
}
.card p {
  font-weight: 350;
  color: #444;
}
