.categorytitle {
  max-width: 30.8rem;
  margin: 20px auto;
  display: flex;
  align-items: baseline;
  text-align: center;
}
.category__icon img {
  width: 65px;
}
.category__name {
  margin-left: 15px;
}
