.grid {
  display: grid;
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 1rem 0 auto;
  grid-gap: 15px;
  grid-template-rows: auto;
}

/* @media screen and (min-width: 350px) {
  .grid {
    grid-template-columns: repeat(2, minmax(191px, 230px));
  }
}
@media screen and (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(4, minmax(191px, auto));
  }
} */

@media screen and (min-width: 350px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
  }
}
