.navigation {
  max-width: var(--normalWidth);
  margin: 0 auto;
  text-decoration: none;
}
.navigation__wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}
.navigation__btn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.navigation__btn span {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.navigation__btn img {
  width: 3rem;
  height: 3rem;
}

/* 
.Navigation__wrap {
  max-width: 28.8rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.Navigation__Item {
  color: inherit;
  text-decoration: none;
  color: #1a1a1a;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 1.3rem;
  min-width: 5.8rem;
}

.Navigation__img {
  width: 3rem;
  height: 3rem;
  z-index: 20;
  position: relative;
}

.Navigation__Item p {
  margin-top: 0.1rem;
  margin-bottom: 0;
  font-weight: 450;
  font-size: 0.9rem;
} */
