/* 
===========
TAGS
===========
*/

.HomeQuickTag {
  display: block;
  max-width: var(--normalWidth);
  margin: 15px auto;
  overflow-x: scroll;
  padding: 0 1.5rem;
}

.HomeQuickTag__container::-webkit-scrollbar {
  display: none !important;
}

.HomeQuickTag__container {
  display: block;
  justify-content: space-between;
  white-space: wrap;
  overflow-x: auto;
}

.HomeQuickTag__item {
  display: inline-block;
  padding: 0.35rem 0.65rem;
  border-radius: 20px;
  border: 0.5px solid rgb(204, 204, 204);
  background-color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #707070;
}
