.featuredCard {
  margin-right: 1rem;
  min-width: 20rem;
  border-radius: 15px;
}

.featuredCard_image {
  min-width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  padding: 0.5rem;
}

.article {
  margin-right: 1rem;
  margin-top: 18rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.article p {
  color: white;
  font-size: 1.1rem;
}
.article h2 {
  color: white;
}
.article span {
  color: white;
}
