.footer {
  width: 100vw;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
}
.footer__container img {
  width: 2rem;
  cursor: pointer;
  margin: 1rem auto;
}

.footer__container p {
  margin: 0 auto;
}
