/* 
============
header 
============
*/
.header {
  margin-top: 2rem;
  padding: 1rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: var(--normalWidth);
  align-items: center;
  margin: 0 auto;
}

.spaceholder {
  width: 7.5rem;
}

.logo__container {
  display: flex;
  align-items: center;
  width: 7rem;
}

.logo__container img {
  width: 100%;
  stroke-width: 2.5px;
}

.sharingGem__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.5rem;
  cursor: pointer;
}

.sharingGem__button img {
  width: 1.35rem;
  margin: 0.25rem;
}
.sharingGem__button p {
  font-size: 0.85rem;
  font-family: 'CookieRun-Regular';
}
