/* 
============
header 
============
*/
.header {
  margin-top: 1rem;
}

.header__wrapper {
  display: flex;
  max-width: var(--normalWidth);
  justify-content: center;
  padding-top: 0.9rem;
  align-items: center;
  margin: 0 auto;
}

.logo__container {
  display: flex;
  align-items: center;
  width: 5.6rem;
  padding: 0.1rem;
}

.logo__container img {
  width: 100%;
  stroke-width: 2.5px;
}

.header__messages {
  font-size: 1.05rem;
  margin-left: 0.5rem;
}
