/* 
============
header 
============
*/
.header {
  margin-top: 2rem;
  height: 4.5rem;
}

.header__wrapper {
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  max-width: var(--normalWidth);
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}

.placeholder {
  width: 3rem;
}

.logo__container {
  width: 9rem;
}

.logo__container img {
  width: 100%;
}

.searchIcon__container {
  width: 3rem;
  padding: 0.6rem;
}

.searchIcon__container img {
  width: 100%;
}
