.new__Navigation {
  width: var(--width);
  padding: 0 1rem 1rem;
}

.Navigation__Container {
  display: grid;
  max-width: var(--normalWidth);
  margin: 0 auto;
  grid-gap: 0.75rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5fr 2fr 3fr 1.35fr;
}

.Navigation__Item__Header {
  display: flex;
  align-items: center;
}
.FirstGrid__Wrap {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 1fr 1fr;
}

.FirstGrid__Item {
  display: flex;
  align-items: flex-start;
  height: 100%;
  border: solid 1.25px #dfdfdf;
  border-radius: 0.65rem;
  padding: 0.95rem;
  background-color: #f5f5f5;
}

.SecondGrid__Wrap {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 2fr;
}

.SecondGrid__Item {
  display: flex;
  height: 100%;
  align-items: flex-start;
  padding: 0.95rem;
  border: solid 1.25px #dfdfdf;
  border-radius: 0.65rem;
  background-color: #f5f5f5;
}

.SecondGrid__Item h1 {
  font-size: 1.45rem;
}

.ThirdGrid__Wrap {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ThirdGrid__Item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 5.2rem;
  border: solid 1.25px #dfdfdf;
  border-radius: 0.65rem;
  align-items: flex-start;
  padding: 0.75rem;
  background-color: #f5f5f5;
  overflow: hidden;
}

.ThirdGrid__Item .Navigation__Item__Header {
  margin-bottom: 0.15rem;
}

.ThirdGrid__Item h2 {
  font-size: 1.03rem;
}
.Navigation__Item__Emoji__Container {
  display: flex;
  width: calc(100% + 0.75rem * 2);
  margin: 0rem 0 0.75rem -0.6rem;
  margin-top: 0.1rem;
  justify-content: flex-end;
}
.Navigation__Item__Emoji__Container img {
  z-index: 999;
  width: 3rem;
}

.FourthGrid__Wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem;
}

.FourthGrid__Item {
  display: flex;
  height: 100%;
  padding: 0.55rem;
  align-items: flex-start;
  border: solid 1.25px #dfdfdf;
  border-radius: 0.65rem;
  background-color: #f5f5f5;
}

.FourthGrid__Item h2 {
  font-size: 1.2rem;
}
