.SecondGrid__Wrap {
  width: 100%;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 2fr;
}

.SecondGrid__Item {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 15rem;
  align-items: flex-start;
  border-radius: 0.65rem;
  background-color: #f5f5f5;
}

.SecondGrid__Item .swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 0.65rem;
}

.SecondGrid__Item .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  cursor: pointer;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.SecondGrid__Item .SwiperSlide {
  margin: 0;
  width: 100%;
  height: 100%;
}

.SecondGrid__Item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.SecondGrid__Item .Navigation__Item__Header p {
  font-family: 'CookieRunOTF-Bold';
  font-size: 1.25rem;
  color: #e7e7e7;
}

.SecondGrid__Item .Navigation__Item__Header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.SecondGrid__Item .swiper-button-prev,
.SecondGrid__Item .swiper-button-next {
  height: 3.5rem !important;
  color: white !important;
}
.SecondGrid__Item .swiper-button-prev:after,
.SecondGrid__Item .swiper-button-next:after {
  font-size: 1rem !important;
}

.Home__Slider__Article {
  margin: 0;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.Home__Slider__Article p {
  font-size: 1.1rem;
}

.Home__Slider__Article h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
