.detail__gridCard {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 3fr;
}

.imageContainer {
  overflow: hidden;
  margin: 0 auto;
}
.imageContainer img {
  width: 100%;
  border-radius: 10px;
  height: 13.5rem;
  object-fit: cover;
}

.articleContainer p {
  margin-top: 0.2rem;
  font-weight: 350;
  font-size: 1rem;
  color: #444;
}

.articleContainer h3 {
  font-weight: 400;
}

.menu__intro {
  word-break: keep-all;
}
