.details__Header {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: var(--normalWidth);
  margin-top: 0.75rem;
  margin-bottom: 2.75rem;
  grid-row-gap: 0.75rem;
  padding: 0 1rem;
  z-index: 6;
  top: 25.25rem;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.details__Header h4 {
  font-size: 1.15rem;
  font-weight: 300;
}

.details__Header__Container {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.85rem;
  z-index: 0;
}

.details__shortDesc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quickButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  cursor: pointer;
}

.details__name {
  display: flex;
  margin-top: 0.35rem;
}
.details__name h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

.details__tag {
  display: flex;
  margin-top: 0.35rem;
  font-size: 1rem;
  font-weight: 400;
}

.details__tag p {
  margin-left: 2px;
}
