.detailsNavi {
  /* position: absolute; */
  width: var(--normalWidth);
  position: fixed;
  top: 0;
  display: flex;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(12, 14, 14, 0.65) 150%
  );
  z-index: 999;
  padding: 0rem 1rem;
  padding-top: 47px;
}

.detailsNavi__box {
  height: 34px;
  max-width: var(--normalWidth);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsNavi__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  white-space: nowrap;
}

.detailsNavi__contents h3 {
  font-family: 'Cookierun-Regular';
  font-weight: 300;
  margin-top: 0.1rem;
}

.Details__Backward {
  width: 3rem;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Details__Save {
  display: flex;
  width: 3rem;
  justify-content: flex-end;
}
