.detailsNavi {
  width: var(--normalWidth);
  margin-bottom: 0.3rem;
}

.detailsNavi__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10rem;
}

.detailsNavi__icon {
  font-size: 1.7rem;
  margin-left: -0.25rem;
}

.detailsNavi__contents {
  display: flex;
  align-items: center;
  width: 8rem;
  font-size: 1.15rem;
  font-weight: 400;
}
