.details__Header {
  margin-top: 1.25rem;
  padding: 0 0.9rem;
  margin-bottom: 0.75rem;
}

.details__Header h4 {
  font-size: 1.15rem;
  font-weight: 400;
}

.details__name {
  display: flex;
  font-size: 1.5rem;
  color: #dc0f62;
}

.details__name h1 {
  font-size: 2.5rem;
}

.details__instagram {
  margin-left: 0.15rem;
  display: flex;
  margin-top: 0.2rem;
  align-items: center;
  font-weight: 300;
}

.details__instagram .icon {
  font-size: 1.2rem;
}
.details__instagram p {
  color: #dc0f62;
  cursor: pointer;
  margin-bottom: 0.1rem;
  margin-left: 0.2rem;
}
