.details__Header {
  margin-bottom: 0.25rem;
}

.details__Header h4 {
  font-size: 1.15rem;
  font-weight: 400;
}

.details__Header__Container {
  padding: 1rem;
  background-color: #f8f8f8;
}

.details__name {
  display: flex;
  color: #dc0f62;
}
.details__name h1 {
  font-size: 2rem;
  font-weight: 500;
}

.details__tag {
  margin-top: 0.3rem;
  font-size: 1.15rem;
}

.sns__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.details__instagram {
  display: flex;
  align-items: center;
}

.details__instagram__icon {
  font-size: 1.25rem;
  margin-right: 0.4rem;
}
.details__instagram p {
  font-size: 1.35rem;
  cursor: pointer;
}

.details__naver {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

.details__naver__icon {
  width: 1.13rem;
  margin-right: 0.45rem;
  margin-left: 0.08rem;
  padding: 0.1rem;
  border: 0.75px solid;
  border-radius: 3px;
}

.details__naver p {
  font-size: 1.35rem;
  cursor: pointer;
}
