.details__Header {
  margin-bottom: 0.25rem;
}

.details__Header h4 {
  font-size: 1.15rem;
  font-weight: 400;
}

.details__Header__Container {
  padding: 1rem 1rem 0.75rem;
  background-color: #f8f8f8;
}

.details__name {
  display: flex;
  color: #dc0f62;
}
.details__name h1 {
  font-size: 2rem;
  font-weight: 500;
}

.details__tag {
  margin-top: 0.3rem;
  font-size: 1.15rem;
}

.branch p {
  font-size: 1.1rem;
  color: #1b1b1b;
  font-weight: 400;
}
