.details__Information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 300;
  font-size: 1.25rem;
}

.details__Information hr {
  margin: 0.45rem auto;
  width: 98%;
  border: #f8f8f8 0.5px solid;
}

.details__section__header {
  display: flex;
  justify-content: space-between;
}

.details__section__header h2 {
  font-family: 'Cookierun-regular';
}

.details__Information__wrapper {
  padding: 1rem 0;
}
.details__icon {
  font-size: 1.35rem;
  margin-right: 0.7rem;
}
.businessHours {
  display: flex;
  align-items: center;
}
.breakTime {
  display: flex;
  align-items: center;
}

.breakDays {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  height: 1.9rem;
}

.location__fullAddress {
  display: flex;
  max-width: 73%;
  height: 100%;
  align-items: flex-start;
  overflow: scroll;
  word-break: keep-all;
}

.location__fullAddress p {
  align-items: flex-start;
}
.phoneNumber {
  display: flex;
  align-items: center;
}

.copyBtn__container {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #f21d73;
  margin-left: 0.85rem;
}
.copyBtn__container p {
  margin-top: 0.1rem;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 0.15rem;
}

.btn_container {
  all: unset;
}
