.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.151);
}

.modalBackground {
  width: 90%;
  max-width: 270px;
  height: 100px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  /* 팝업이 열릴때 스르륵 열리는 효과*/
  animation: modal-show 1.4s;
  animation-direction: reverse;

  overflow: hidden;
}

.modalMain {
  padding: 36px;
  text-align: center;
  vertical-align: text-top;
  color: green;

  /* border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6; */
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 1.4s;
}
@keyframes modal-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
