.DetailsPage__Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0 1.25rem;
}

.DetailsPage__Navigation span {
  font-size: 1.25rem;
}

button {
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
}

.returnBtn {
  display: inline-block;
  justify-content: center;
}

.returnBtn button {
  font-size: 1.5rem;
}

.otherBtn {
  display: flex;
  justify-content: space-between;
}

.otherBtn button {
  font-size: 1.75rem;
  margin-left: 0.75rem;
}
