.OwnerSection {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.ownerImage__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.ownerImage__container img {
  height: 8rem;
  clip-path: circle(4rem at center);
}
.ownerName {
  margin-top: 0.25rem;
}

.ownerMessage__container {
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  font-weight: 100;
  font-size: 1.25rem;
  word-break: break-all;
}
