.recommendation {
  margin-top: 2rem;
  padding: 0 1rem;
}

.recommendation h2 {
  font-family: 'Noto Sans CJK KR';
  font-weight: 600;
}
.details__secition__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.details__section__header__more {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
