.sns__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.details__instagram {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.details__instagram__icon {
  font-size: 1.35rem;
  margin-right: 0.4rem;
}
.details__instagram p {
  font-size: 1.35rem;
  font-weight: 400;
  cursor: pointer;
}

.details__naver {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

.details__naver__icon {
  width: 1.2rem;
  margin-right: 0.45rem;
  margin-left: 0.08rem;
  padding: 0.1rem;
  border: 0.75px solid;
  border-radius: 3px;
}

.details__naver p {
  font-weight: 400;
  font-size: 1.35rem;
  cursor: pointer;
}
