.swiper-container {
  max-width: var(--normalWidth);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
