.Details-Swiper {
  margin-top: 48px;
}

.detailsPage .swiper-container {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Details-Swiper .swiper-slide {
  height: 100%;
}

.Details-Swiper .swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Details-Swiper .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  text-align: center;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.Details-Swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
