.swiper-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide img {
  object-fit: cover;
  height: 30rem;
  width: 100%;
  margin-bottom: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.35rem !important;
}
