.BottomNavigation {
  width: 100vw;
  position: fixed;
  bottom: 0;
  /* padding: 0 1rem; */
  z-index: 10;
}

.BottomNavi-wrapper {
  max-width: var(--normalWidth);
  display: flex;
  margin: 0 auto;
  height: 5.75rem;
  justify-content: space-between;
  background-color: #f6f6f6;
  box-shadow: 0 0 1rem rgb(168, 168, 168);
  padding-bottom: 0.5rem;
}

.BottomNavi-wrapper__ButtonContainer.active button {
  opacity: 1;
  font-weight: 500;
}

.BottomNavi-wrapper__ButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.BottomNavi-Button {
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1.15rem;
  font-weight: 400;
}

.BottomNavi-wrapper__ButtonContainer.active .BottomNavi-ButtonIcon-Event {
  color: #f4bb00;
}
