.BottomNavigation {
  width: 100vw;
  position: fixed;
  bottom: 0;
  /* padding: 0 1rem; */
  z-index: 10;
}

.BottomNavi-wrapper {
  max-width: 42rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f6f6f6;
  box-shadow: 0 0 0.35rem rgb(168, 168, 168);
  padding-bottom: 0.75rem;
  border-radius: 2rem 2rem 0 0;
}

.BottomNavi-wrapper.iPhone {
  height: 6.25rem;
}

.BottomNavi-wrapper.Android {
  height: 5.25rem;
}

.BottomNavi-wrapper.Web {
  height: 4.75rem;
}

.BottomNavi-wrapper__ButtonContainer.active button {
  opacity: 1;
  font-weight: 500;
}

.BottomNavi-wrapper__ButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #000000;
}

.BottomNavi-Button {
  width: 100%;
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.35rem;
  font-weight: 400;
  color: #000000;
}

.BottomNavi-wrapper__ButtonContainer.active .BottomNavi-ButtonIcon-Event {
  color: #f4bb00;
}
