.searchPage {
  display: flex;
  flex-direction: column;
  width: var(--maxWidth);
  justify-content: center;
  margin: 0 auto;
}

.searchBox__container {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: var(--normalWidth);
  align-items: center;
}

.searchBox {
  width: 75%;
  height: 2.5rem;
  border: 0;
  padding: 0.75rem;
  background-color: #f8f8f8;
  text-decoration: none;
  border-radius: 1rem;
}
