/* 
============
header 
============
*/
.header {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.searchHeader__wrapper {
  max-width: var(--normalWidth);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}
.logo__container {
  width: 12rem;
}

.logo__container img {
  width: 100%;
}
