.section__title {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emoji {
  font-size: 2.5rem;
  padding-right: 0.25rem;
}

.section__title p {
  font-size: 1.2rem;
  color: #6d7278;
}

.section__title h4 {
  margin-top: 0.2rem;
  color: #6d7278;
}
