.Entercity {
  width: var(--normalWidth);
}

.grid {
  display: grid;
  white-space: wrap;
  max-width: var(--maxWidth);
  margin: 0 auto;
  margin-top: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  padding: 0 1rem;
}

@media screen and (min-width: 430px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
  }
}
