@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRunOTF-Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

html {
  font-size: 11px;

  -webkit-tap-highlight-color: transparent;
}

/* Display Width */

:root {
  --smallWidth: 85vw;
  --normalWidth: 100%;
  --maxWidth: 100%;
  --fullWidth: 100%;
  --activeColor: #f21d73;
}

@media screen and (min-width: 430px) {
  :root {
    --width: 100vw;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 100%;
    --fullWidth: 1170px;
  }
}
@media screen and (min-width: 760px) {
  :root {
    --width: 100vw;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 100%;
    --fullWidth: 100%;
  }
}
@media screen and (min-width: 900px) {
  :root {
    --width: 100vw;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 900px;
    --fullWidth: 100%;
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 60vw;
    --fullWidth: 1170px;
  }
}

* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline-color: aqua;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* s */
*::-webkit-scrollbar {
  display: none;
}

a {
  user-select: none;
  cursor: pointer;
  text-decoration: none !important;
  color: black !important;
}

body {
  margin: 0 auto;
  font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic',
    'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',
    'Droid sans', 'ONE-Mobile-POP';
  line-height: 1.4;
  font-weight: 350;
  color: #222;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 310px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 330px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 13.5px;
  }
}

@media screen and (min-width: 380px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 780px) {
  html {
    font-size: 14px;
  }
}

ol,
ul {
  margin: 0px;
  padding: 0px;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

li {
  list-style-position: inside;
  text-indent: -0.5rem;
  padding-left: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
  letter-spacing: -0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.05rem;
}

h1 {
  font-family: 'ONE-Mobile-POP';
  font-size: 1.65rem;
}

h2 {
  font-family: 'ONE-Mobile-POP';
  font-size: 1.35rem;
}

h3 {
  font-weight: 550;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

input:focus {
  outline: none;
}

/* 
=========
Section Header
=========
*/

.section {
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 80px;
}

.section__header__container {
  max-width: 60.8rem !important;
  margin: 0 auto;
  align-items: center;
  padding: 0 80px;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin: 0;
}

.section__desc {
  font-size: 17px;
  font-weight: 300px;
  color: #707070;
}

/* 
=========
footer
=========
 */
.footer {
  text-align: center;
}

hr {
  margin-top: 0;
}
