html {
  font-size: 11px;

  -webkit-tap-highlight-color: transparent;
}

/* Display Width */

:root {
  --smallWidth: 85vw;
  --normalWidth: 100%;
  --maxWidth: 100%;
  --fullWidth: 100%;
  --activeColor: #f21d73;
}

@media screen and (min-width: 430px) {
  :root {
    --width: 100vw;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 100%;
    --fullWidth: 1170px;
  }
}
@media screen and (min-width: 760px) {
  :root {
    --width: 100vw;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 100%;
    --fullWidth: 100%;
  }
}
@media screen and (min-width: 900px) {
  :root {
    --width: 100vw;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 900px;
    --fullWidth: 100%;
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 60vw;
    --fullWidth: 1170px;
  }
}

* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline-color: aqua;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* s */
*::-webkit-scrollbar {
  display: none;
}

a {
  user-select: none;
  cursor: pointer;
  text-decoration: none !important;
  color: black !important;
}

body {
  margin: 0 auto;
  font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic',
    'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',
    'Droid sans';
  line-height: 1.4;
  font-weight: 350;
  color: #222;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 310px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 330px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 13.5px;
  }
}

@media screen and (min-width: 380px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 780px) {
  html {
    font-size: 14px;
  }
}

ol,
ul {
  margin: 0px;
  padding: 0px;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

li {
  list-style-position: inside;
  text-indent: -0.5rem;
  padding-left: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
  letter-spacing: -0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.05rem;
}

input:focus {
  outline: none;
}

/* 
=========
Section Header
=========
*/

.section {
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 80px;
}

.section__header__container {
  max-width: 60.8rem !important;
  margin: 0 auto;
  align-items: center;
  padding: 0 80px;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin: 0;
}

/* 
=========
footer
=========
 */
.footer {
  text-align: center;
}

hr {
  margin-top: 0;
}
