@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url('styles/fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Light.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url('styles/fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url('styles/fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url('styles/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Bold.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 900;
  src: url('styles/fonts/NotoSansKR-Black.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Black.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Black.otf') format('truetype');
}

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRunOTF-Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
}

/* Display Width */

:root {
  --smallWidth: 85vw;
  --normalWidth: 100%;
  --maxWidth: 100%;
  --fullWidth: 100%;
}

@media screen and (min-width: 500px) {
  :root {
    --width: 100%;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 100%;
    --fullWidth: 1170px;
  }
}
@media screen and (min-width: 760px) {
  :root {
    --width: 100%;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 100%;
    --fullWidth: 100%;
  }
}
@media screen and (min-width: 900px) {
  :root {
    --width: 100%;
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 900px;
    --fullWidth: 100%;
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --smallWidth: 85vw;
    --normalWidth: 28.5rem;
    --maxWidth: 60vw;
    --fullWidth: 1170px;
  }
}

* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
}

/* s */
::-webkit-scrollbar {
  display: none;
}

a {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

body {
  margin: 0 auto;
  font-family: 'Noto Sans CJK KR', '맑은 고딕', 'malgun gothic',
    'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',
    'Droid sans';
  line-height: 1.4;
  font-weight: 350;
  color: #222;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 780px) {
  html {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
  letter-spacing: -0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-family: 'CookieRun-Regular';
  font-size: 1.65rem;
}

h2 {
  font-family: 'CookieRun-Regular';
  font-size: 1.35rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

input:focus {
  outline: none;
}

/* 
=========
Section Header
=========
*/

.section {
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 80px;
}

.section__header__container {
  max-width: 60.8rem !important;
  margin: 0 auto;
  align-items: center;
  padding: 0 80px;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  margin: 0;
}

.section__desc {
  font-size: 17px;
  font-weight: 300px;
  color: #707070;
}

/* 
=========
footer
=========
 */
.footer {
  text-align: center;
}

hr {
  margin-top: 0;
}
